/* stylelint-disable */
// Cart
.product-remove {
	text-align:center;
	font-size:$font-size-small;
	padding:0 0 0 0;
}

.product-removed {margin-bottom:0px; padding:0;}
.product-removed .close {color:#00a3e0; opacity:0.6; margin-right:35px;}

.product-surchage-message {
	font-style:italic;
}

#full-cart-block .subtotal-price {
	text-align:right;
}

#full-cart-block .product-name {

}

#full-cart-block .product-promo-text {
	font-size:.9em;
	margin-top:7px;
	width:180%;
}

.promo-conf {
	font-size:.85em;
	font-weight:bold;
	margin-top:7px;
	text-align:right;
	width:260%;
}

.promo-conf .glyphicon-ok {color:$state-success-text;}
