/* stylelint-disable */
// Checkout Header Progress Bar (Chevron)
.checkout-progress {
	margin-left:-15px;
	margin-right:-15px;
}

.progress-chevron {
	width:170px;
	background-color:red;
	text-align:center;
	height:40px;
}

.progress-chevron-cart {
	width:172px;
}

li.progress-divider {
	padding:0;
	background-color:blue;
	width:32px;
	margin-left:-4px;
	margin-right:-4px;
	height:40px;
}

li.progress-divider span {
	font-size:32px;
}

.popover-trigger {
	cursor: pointer;
}


.payment-tabs {
	text-align:center;
}

.payment-tabs li.active a {
	color: $gray-darker;
}

.payment-tabs li {
    width: 150px;
}

//Add Card modal size
@media screen and (max-width:640px) {
  #addCard .modal-dialog {
    width: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #addCard iframe {width:100% !important;}
}
