/* stylelint-disable */
// Compare Styles
.compare-thumb {
	border:1px solid $gray-dark;
	width:56px;
	height:56px;
	float:left;
	margin-right:5px;
}

.compare-control {
	float:left;
}

.compare-prod {
	width:205px;
}
