/* stylelint-disable */
.printpalsrewards {
	position:relative;
	width:524px;
	height:374px;
}

.printpals_background {
	position:absolute;
	top:0;
	left:0;
}

.printpals_memnumb {
	position:absolute;
	top:125px;
	left:137px;
	width:250px;
	font-weight:bold;
	font-size:11px;
	line-height:11px;
	text-align:center;
}

.printpals_barcode {
	position:absolute;
	left:87px;
	top:140px;
	width:350px;
}

.printpals_instructions {
	position:absolute;
	left:15px;
	top:225px;
	width:494px;
	font-size:11px;
	line-height:12px;
}

.printpals_instructions p {
	margin: 0 0 5px;
}

.printcoupon_description {
	position:absolute;
	left:15px;
	top:100px;
	width:494px;
	font-size:11px;
	line-height:12px;
}

.printcoupon_memnumb {
	position:absolute;
	top:145px;
	left:137px;
	width:250px;
	font-weight:bold;
	font-size:11px;
	line-height:11px;
	text-align:center;
}

.printcoupon_barcode {
	position:absolute;
	left:87px;
	top:160px;
	width:350px;
}

.printcoupon_instructions {
	position:absolute;
	left:15px;
	top:245px;
	width:494px;
	font-size:11px;
	line-height:12px;
}

.printcoupon_instructions p {
	margin: 0 0 5px;
}
