/* stylelint-disable */
#quickbuy h4 {margin-top:0px;margin-bottom:3px;}
#quickbuy .form-group {margin-bottom:10px;}
#quickbuy .form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;}

#quickbuy .form-control, .product-detail-page .form-control {height:30px;}  
#quickbuy .form-group .control-label, .product-detail-page .form-group .control-label {line-height:1}
#quickbuy .radio input, .product-detail-page .radio input {margin-top:0px;}

#quickbuy .product-price, .product-detail-page .product-price {line-height:1.2;}
#quickbuy .product-price-rd, .product-detail-page .product-price-rd {line-height:1.4;}
#quickbuy .repeat-delivery-select, .product-detail-page .repeat-delivery-select {line-height:1;}
#quickbuy .product-price-promo, .product-detail-page .product-price-promo {font-size:15px;}
#quickbuy .product-price-save, .product-detail-page .product-price-save {color:$petco-red; margin-left:10px; font-weight:bold;font-size:$font-size-small;}
#quickbuy .product-price-rddetail, .product-detail-page .product-price-rddetail {color:$petco-red; font-size:15px;font-weight:bold;}
