/* stylelint-disable */
.widget_bundle_package_list {
	margin-right: 0px !important;
}
.widget_bundle_package_list .widget_product_listing {
	width: 100%;
}

.widget_bundle_package_list .list_mode {
	border: 1px solid #e9e9e9;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 0px !important;
}

.widget_bundle_package_list .product_listing_container > .list_mode .product {
	width: auto;
	padding: 12px 0px 0px 0px;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 20px;
	color: #4D4D4D;
	float:none;
}

.widget_bundle_package_list .product_listing_container > .list_mode div:nth-child(2) {
	border-top: none;
}

.widget_bundle_package_list .product_listing_container > .list_mode .product .product_info {
	border-right: none;
	min-width: 100px;
	width: 85%;
}

.widget_bundle_package_list .product_listing_container > .bundle_mode .product .product_info {
	border-right: 1px solid #e5e5e5;
	width: 34%;
	padding-right: 10px;
}

.widget_bundle_package_list .product_listing_container > .package_mode .product .product_info {
	width: 58.333333%;
}

.widget_bundle_package_list .product_listing_container > .package_mode .product .product_info > .product_quantity_addtolist {
	display: none;
}

.widget_bundle_package_list .product_listing_container .list_mode .product > .product_info > .product_price {
	font-weight: normal;
}

.widget_bundle_package_list .product_listing_container .list_mode .product > .product_info > div:nth-child(2) {
	font-size: 10px;
	color: #767676;
	margin-top: 7px;
	margin-bottom: 7px;
}

.widget_bundle_package_list .product_listing_container > .bundle_mode .product .product_info > .product_description {
	line-height: 22px;
}

.widget_bundle_package_list .product_listing_container .list_mode .product {
	background: none;
	max-width: none;
}

.widget_bundle_package_list .product_listing_container .list_mode .product > .product_image {
	margin: 0px;
	position: relative;
	float: left;
	width: 15%;
}

.widget_bundle_package_list .product_listing_container .bundle_mode .product > .product_image {
	width: 20%;
}

.widget_bundle_package_list .product_listing_container .bundle_mode .product > .product_image > a{
	width: 90%;
}

.widget_bundle_package_list .product_listing_container .package_mode .product > .product_image {
	width: 41.666666%;
}

.widget_bundle_package_list .product_listing_container .package_mode .product > .product_image > a{
	width: 80%;
	max-width: 285px;
}

.widget_bundle_package_list .product_listing_container .list_mode .product > .product_info > .product_name > a {
	font-size: 16px;
	padding-bottom: 0px;
	line-height: 22px;
}

.widget_bundle_package_list .product_listing_container > .list_mode .product .available {
	padding: 10px;
	border-top: none;
	border-bottom: none;
	width: 38%;
}

.list_mode .product_info {
	margin-top: 10px;
	margin-bottom: 0%;
}

.container_margin {
	margin: 0px;
}
.container_full_width_bundle {
	padding: 5px;
	width: 80%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 14px;
	padding-left: 20px;
	max-width: 330px;
	background: #767676;
	color: #fff;
}
.container_full_width_package {
	padding: 5px;
	width: 80%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 14px;
	padding-left: 20px;
	max-width: 330px;
	background: #ddd;
	color: #555;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.bundle_package_page .row .slot4 {
		width: 35%;
	}
	.bundle_package_page .row #productSlot56 {
		width: 20%;
		float: left;
	}
	.bundle_package_page .row .slot5, 
	.bundle_package_page .row .slot6,
	.bundle_package_page .row .slot8,
	.bundle_package_page .row .tabbedSlots9_10_11
	{
		width: 100%;
	}
	.bundle_package_page .slot7{
		width: 45%;
	}
	.bundle_package_page .kit_pageDesign_pageGroup #productSlot56 {
		width: 30%;
	}
	.bundle_package_page .kit_pageDesign_pageGroup .slot7{
		width: 35%;
	}
}

@media (max-width: 600px) {
	.list_mode .product_info {
		margin-bottom: 10px;
	}
	.widget_bundle_package_list .product_listing_container > .list_mode .product .product_info {
		border:none;
		width: 58.333333%;
		padding: 0px;
	}
	.widget_bundle_package_list .product_listing_container .list_mode .product > .product_image {
		width: 41.666666%;
	}
	.widget_bundle_package_list .product_listing_container > .list_mode .product .available {
		border-top: 1px solid #e5e5e5;
		margin-left: 0px;
		float: none;
		display: block;
		width: auto;
		clear: both;
	}
}


@media screen and (max-width: 600px) {
	.widget_bundle_package_list .list_mode {
		width: 99%;
	}
	
}
