/* stylelint-disable */
.quantity_discount,
div#widget_package_summary .quantity_discount,
div.widget_bundle_package_list .quantity_discount{
	font-size: 14px;
	color: #767676;
	line-height: 16px;
}

div#widget_package_summary .quantity_discount{
	margin-bottom: 12px;
}

.quantity_discount > p > span.price,
div#widget_package_summary .quantity_discount > p > span.price,
div.widget_bundle_package_list .quantity_discount > p > span.price{
	color: #CA4200;
}

.quantity_section{
	padding-top: 16px;
	padding-bottom: 6px;
}

.quantity_section > .quantity_input{
	width: 40px;
	height: 25px;
	padding: 3px;
}

.widget_product_info_viewer > .product_options .divider{
	height: 1px;
	background-color:#E5E5E5;
}

#widget_package_summary > .left_border > .right_border > .content > .item > .available {
	float: none;
	padding-bottom: 20px;
}

.available .header,
.product_listing_container .list_mode .product > .available .header,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .header {
	font-size:14px;
	line-height: 17px;
}

.available .sublist,
.product_listing_container .list_mode .product > .available .sublist,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .sublist {
	line-height: 14px;
}

.available .sublist .text,
.product_listing_container .list_mode .product > .available .sublist .text,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .sublist .text {
	/* font-size: 12px; */
}

.available .sublist a.store_name,
.product_listing_container .list_mode .product > .available .sublist a.store_name,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .sublist a.store_name {
	font-size: 12px;
	color: #006ECC;
	padding-left: 14px;
	text-decoration: none;
}

.available .sublist a:focus.store_name,
.available .sublist a:hover.store_name,
.product_listing_container .list_mode .product > .available .sublist a:hover.store_name,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .sublist a:hover.store_name {
	text-decoration: underline;
}

.available ul,
.product_listing_container .list_mode .product > .product_info > .available ul,
#widget_package_summary > .left_border > .right_border > .content > .item > .available ul {
	list-style-image:url("../images/colors/color1/widget_product_info/checkmark_icon.png");
}

.available .instore_sublist,
.product_listing_container .list_mode .product > .available .instore_sublist,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .instore_sublist {
	margin-left: 40px;
	font-size:12px;
	line-height: 17px;

}

.available a.check_stores,
.product_listing_container .list_mode .product > .available a.check_stores,
#widget_package_summary > .left_border > .right_border > .content > .item > .available a.check_stores {
	color: #006ECC;
	float: left;
	width: 90%;
	font-size: 12px;
	margin-left: 15px;
	text-decoration: none;
	cursor:pointer;
}

.available a:focus.check_stores,
.available a:hover.check_stores,
.product_listing_container .list_mode .product > .available a:hover.check_stores,
#widget_package_summary > .left_border > .right_border > .content > .item > .available a:hover.check_stores {
	text-decoration: underline;
}

.available {
	padding: 11px 0px;
	width: 100%;
	/* border-bottom: 1px solid #e5e5e5;*/
	float: left;
}

.available > .text {
	/* font-size: 12px; */
	padding-left: 16px;
}

.available > .sublist {
	max-width: 130px;
	float: left;
	padding-top: 4px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.available .subHeading {
	float: left;
	color: #666;
	font-size: 12px;
	line-height: 14px;
	padding-top: 4px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.available .availabilityBorder {
	margin-left: 15px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	/* border-bottom: 1px solid #e5e5e5; */
}
