/* stylelint-disable */
div.widget_site_popup > .middle > .content_left_border > .content_right_border > .content .product .product_image img {
	max-width: 60%;
}

div.widget_site_popup > .middle > .content_left_border > .content_right_border > .content form input {
	width: auto;
}

div.widget_site_popup > .middle > .content_left_border > .content_right_border > .content .footer .button_secondary .button_text {
	min-width: 45px;
}


@media screen and (max-width: 535px) {
	#shoppingListItemAddedPopup  > div.dijitDialogPaneContent {
		width: auto !important;
		height: auto !important;
	}

	div.widget_site_popup > .middle > .content_left_border > .content_right_border > .content {
		width: auto;
	}
}
