/* stylelint-disable */
// Brand colors
$petcoRed:      #ee3524;
$petcoBlue:     #00aae7;
$petcoBlueDark: darken($petcoBlue, 10%);
$teal:          #21c1c5;
$lightTeal:     #7adadc;
$lightBlue:     #82d1f0;
$yellow:        #fdb954;
$green:         #46c126;
$orange:        #fc951f;

// The Grays
$white:         #ffffff;
$lightestGray:  #F4F6F6;
$lighterGray:   #D4DADC;
$lighterGray2:  #E8E8E8;
$lighterGray3:  #E9ECED;
$lighterGray4:	#E6E6E6;
$lightGray:     #A9B5BA;
$gray:          #8E9DA2;
$darkGray:      #666666;
$darkerGray:    #333333;
$darkestGray:   #1A1918;
$black:         #000000;

// Site colors
$primary:     $petcoBlue;
$primaryDark: $petcoBlueDark;
$secondary:   $petcoRed;
$declined:    $petcoRed;
$approved:    $green;
$notice:      $orange;

// Brand fonts
$bodyFont:    Arial, sans-serif;

// Backgrounds
$lightBackground: $lightestGray;

// Borders
$mainBorder: 1px solid $gray;
$lightBorder:1px solid $lightGray;
$lighterBorder: 1px solid $lighterGray;

// Font Colors
$bodyText: $darkerGray;
$lightText: $white;
