/* stylelint-disable */

form {
  button, [class*="btn-"] {
    padding: 15px 0;

    &:disabled, &:disabled:hover { padding: 14px 0; }
  }
  &.form-inline {
    display: table;
    .form-group {
      display: table-cell;
      &:not(:first-child) {
        padding-left: 15px;
      }
      a.btn {
        padding: 12px 15px;
      }
      select.form-control {
        border-radius: 5px;
      }
    }
  }
}

a, input, div {
    &:focus { outline-color: $gray; }
}

label, .label {
  clear: both;
  color: $gray;
  float: left;
  font-size: 0.8125em; // ~13px
  font-weight: bold;
  margin: 0 0 7px 0;

  &.valid { color: $approved; }

  &.invalid { color: $declined; }

  input[type="checkbox"] + & {
    font-weight: normal;
    color: $bodyText;
    cursor: pointer;
  }
}

textarea {
  background-color: rgba($lightestGray, 0.4);
  border: $lightBorder;
  box-sizing: border-box;
  color: $darkGray;
  font-size: 0.9375em; // ~15px
  height: 83px;
  padding: 10px;
  width: 100%;
}

// This section is set up the way it is because a listing of
// four normal elemtent[attr="name"] breaks the sourcemap generator
input {
  &[type="text"],
  &[type="tel"],
  &[type="email"],
  &[type="password"] {
    background-color: rgba($lightestGray, 0.4);
    border: $lightBorder;
    box-sizing: border-box;
    color: $darkGray;
    font-size: 0.9375em; // ~15px
    height: 43px;
    padding: 0 10px;
    width: 100%;
    background-size: 0;
    background-position: 95% center;
    transition: 0.2s;

    &.valid {
      background-image: url(../img/green-check.png);
      border-color: $approved;
      background-repeat: no-repeat;
      background-size: 15px;
    }

    &.invalid {
      background-image: url(../img/red-x.png);
      border-color: $declined;
      background-repeat: no-repeat;
      background-size: 15px;
    }
    &.invalid-box {
      border-color: $declined;
    }
  }
}

select {
  padding: 11px 15px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: none;
  // background-color: rgba($lightestGray, 0.4);
  // background-image: $spritesheet;
  background: #fff url("../img/arrow.png") no-repeat 96% 50%;
  border: $lightBorder;
  box-sizing: border-box;
  color: $darkGray;
  font-size: 0.9375em; // ~15px
  height: 43px;
  &::-ms-expand {
    display: none;
  }
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  &.valid { border-color: $approved; }
  
  &.invalid { border-color: $declined; }
	
  &:focus { outline-color: $primary; }
}

// + / - buttons for quantity
.qty-group {
  overflow: hidden;

  input {
    float: left;
    width: 33%;
    padding: 0; // allows three digits to display
    border-radius: 0;
  }

  input[type="button"]{
    height: 43px;
    background-color: $white;
    color: $primary;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border: $lightBorder;
    cursor: pointer;
    transition: 0.2s;
    -webkit-appearance: none;

    &:hover { background-color: $lightestGray;}

    &.qty-minus {
      border-right: 0;
      border-radius: 4px 0 0 4px;
    }
    &.qty-plus {
      border-left: 0;
      border-radius: 0 4px 4px 0;
    }
  }
}

// Custom Checkboxes
.checkbox-button {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  input {
    width:  0px;
    height: 0px;
    position: absolute;
		display: none;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    width:  12px;
    height: 12px;
    margin: -5px 5px 0 0;
    border-radius: 3px;
    transition: 0.2s;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.27), inset 0 0 0 8px $white;
    border: 1px solid $gray;
    background-color: $gray;
    position: relative;
  }
  & > input:focus + i{
  	 box-shadow: inset 0 0 0 3px $white;
    background: $gray;
  }

  &:hover > i{
    box-shadow: inset 0 0 0 3px $white;
    background: $gray;
  }

  & > input:checked + i {
    box-shadow: inset 0 0 0 0px $white;
    background-color: $primary;
    border: 1px solid lighten($primary, 10);

    &:after {
      content: '';
      display: block;
      width: 3px;
      height: 6px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      position: absolute;
      margin: 1px 4px;
    }
  }
}


input[type="radio"] {
  float: left;
  margin-right: 10px;
}

#GuestOrderQueryForm {
  margin-bottom: 20px;
  .form-group {margin-top: 10px;}
  .btn {
    margin-top: 15px;
    width: 100%;
    @include breakpoint(x-large large){
      width: 250px;
    }
  }
}


// Custom Radio
.radio-button {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  label { cursor: pointer; }

  input {
    visibility: hidden;
    position: absolute;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    width:  12px;
    height: 12px;
    margin: -5px 10px 0 0;
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: inset 0 0 0 8px $white;
    border: 1px solid $gray;
    background: $gray;
  }
}


.radio-button:hover > i{ /* HOVER <i> STYLE */
  box-shadow: inset 0 0 0 3px $white;
  background: $gray;
}
.radio-button > input:checked + i { /* (RADIO CHECKED) <i> STYLE */
  box-shadow: inset 0 0 0 4px $primary;
  background: $white;
  border-color: $primary;
}

.caption {
  color: $lightGray;
  font-size: 0.8125em;
  line-height: 1.385em;
  margin-top: 5px;
}
.error > .caption {
  display: block;
}
.collapsible {
  transition: max-height 0.4s ease-in;
  overflow: hidden;
  max-height: 0;

  & > div {
    opacity: 0;
    transition: 0.2s opacity ease-in;
    transition-delay: 0.2s;
  }

  &.open {
    max-height: 1000px;

    & > div { opacity: 1; }
  }
}

// collapse on mobile only
@include breakpoint(medium small){
  .mobile-collapsible {
    transition: max-height 0.4s ease-in;
    overflow: hidden;
    max-height: 0;

    & > div {
      opacity: 0;
      transition: 0.2s opacity ease-in;
      transition-delay: 0.2s;
    }

    &.open {
      max-height: 1000px;

      & > div { opacity: 1; }
    }
  }
}



/* ======================================== */
/* Custom select list styles                */
/* ======================================== */
.select-style {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: $lightBorder;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: #fff url("../img/arrow.png") no-repeat 96% 50%;
}

.select-style select {
  padding: 12px 26px 12px 13px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          
          &.invalid{
	        border: 1px solid $declined;
	        background-repeat: no-repeat;
	        background-size: 15px;
          }
          
}

.select-style select:focus {
  //outline: none;
}

.select-style + div.errorMsg {
  margin-top: -5px; //this error message must be outside the select-style div, so adjust for extra space.
}
/* ======================================== */

.notice-box {
  margin: 16px 0;
  padding: 12px 13px;
  color: $notice;
  background-color: lighten($notice, 40%);
  border: 1px solid lighten($notice, 30%);
  border-radius: 5px;
  font-size: em(13);
  clear: both;

  p, h4 { color: $notice; }
  h4 { padding-bottom: 4px; }
  p { font-size: 0.8em; }

  &:empty { display: none; }
}

.success-box {
  margin: 16px 0;
  padding: 10px;
  color: $approved;
  background-color: lighten($approved, 50%);
  border: 1px solid $approved;
  border-radius: 5px;
  font-size: em(13);
  clear: both;

  p, h4 { color: $approved; }
  h4 { padding-bottom: 4px; }
  p { font-size: 0.8em; }
  strong { font-size: em(15, 13); }

  &:empty { display: none; }
}

.error-box {
  background-color: rgba($declined, 0.2);
  border: 1px solid rgba($declined, 0.4);
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: $declined;
  font-size: 0.8125em; // ~13px;
  padding: 16px 18px 16px 36px;
  margin: 20px 0;
  position: relative;
  ul {
    padding-left: 17px;
  }
  &:empty { display: none; }

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url(../img/warning.png);
    top: 50%;
    left: 13px;
    margin-top: -9px;
  }
}

.multiple-errors {
  background-color: rgba($declined, 0.2);
  border: 1px solid rgba($declined, 0.4);
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: $declined;
  font-size: 0.8125em; // ~13px;
  padding: 16px 18px;
  margin: 20px 0;
  position: relative;

  strong { color: $declined; }

  ul { margin-top: 10px; }

  li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 25px;
    list-style: none;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 16px;
      width: 16px;
      background-repeat: no-repeat;
      background-size: 16px;
      background-image: url(../img/warning.png);
      top: 50%;
      left: 0;
      margin-top: -9px;
    }
  }
}

.box, .divbox {
  margin: -1px 0;
  padding: 7px 0 0;
  box-sizing: border-box;
  color: $darkGray;
  border: solid 1px $lighterGray;

  &.radio-button {
    margin: -1px 0 0 0;
    font-weight: normal;
    padding: 15px 0 15px 10px;
  }

  a {
    color: $darkerGray;
    cursor: pointer;
  }

  &-plain {
    border-width: 0;
  }

  i.icon-minus { display: none; }

  span.click-row { display: table; width: 100%; }

  img { max-width: 100%; }

  @include breakpoint(medium small) {
    padding-left: 6px;
  }

  .icon-cc-group {

    @include breakpoint(medium small) {
      /*margin-top: -12px;
      margin-left: 24px;*/
    }
  }
}

.divbox {
  padding: 12px 0;
  border-left: 0;
  border-right: 0;
}

.form-field-sublist {
  display: none;
  position: relative;
  font-size: 0.80em;

  label {
    font-size: 1em;
  }

  a { color: $petcoBlue; }

  .sublist-form {
    margin-top: -10px;
    margin-left: 10px;
    padding-top: 0;
  }

  @include breakpoint(medium small) {
    h4 { margin-left: 8px; }

    .sublist-form {
      margin-left: 0;
    }
  }

  .sublist-row, .sublist-headers {
    display: table;
    width: 97%;
    margin: 0 20px 8px;
    background-color: $lightestGray;

    @include breakpoint(medium small) {
      margin: 0 14px 8px 8px;

      .form-field-info-dash {
        display: none;
      }
      .form-field-info,
      .form-field-name {
        display: block;
        margin-left: 0;
      }

      &.tighter-cols [class^="col-"] {
        padding: 2px 0 0 8px;
        margin: 0;
      }
    }

    .form-field-name,
    .form-field-info {
      padding: 0;
    }
  }

  .sublist-headers {
    margin-bottom: 0;
    margin-left: 14px;
    background-color: $white;

    @include breakpoint(medium small) {
      margin-left: 0;
    }
  }
}

.form-field-name,
.form-field-info,
.form-field-value {
  display: inline-block;
  padding: 0 4px 0 4px;
}

.form-field-name {
  font-weight: bold;
  color: $darkerGray;
}

.form-field-info {
  font-weight: normal;

  @include breakpoint(medium small) {
    display: block;
    margin-left: 20px;
  }
}

.form-field-value {
  font-weight: normal;
  color: $darkGray;
}

.summary-list-item {
  border-bottom: 1px solid $lighterGray;
}

.personalization-modal {
	transform:none !important;
}

#form-modal, .petco-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 30%;
  min-width: 540px;
  max-width:845px;
  height: auto;
  max-height: 94%;
  overflow: auto;
  margin: 0;
  padding: 60px 30px 30px;
  background-color: $white;
  box-sizing: border-box;
  box-shadow: 0 5px 15px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 9999;

  .CLOSE-X {
    display: block;
    clear: both;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;

    a {
      display: block;
      cursor: pointer;
    }
  }

  .form-modal-form {
    position: relative;
    overflow: auto;

    /* this is used to turn off forms used in the modal by default */
    .modal-form { display: none; position: relative; overflow: auto; }

    .customer-address {
      font-size: 0.8em;
      color: $darkGray;
    }

    .card-icon {
      position: absolute;
      width: 40px;
      height: 25px;
      left: 85%;
      top: 44px;
    }

    .radio-button {
      font-size: 1em;
    }

    .form-field-name, .form-field-info {
      padding: 0;
      margin: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      max-width: 100%;

      &.short-text {
        max-width: 90px;
      }
    }
  }

  @include breakpoint(medium small) {
    left: 2%;
    top: 2%;
    width: 100%;
    height: auto;
    min-width: 50%;
    max-width: 100%;
    min-height: 50%;
    max-height: 96%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 60px 5px;

    .form-modal-form {
      button { min-width: 99%; }

      .form-field-name, .form-field-info {
        display: inline-block;
        padding: 0;
        margin: 0;
        font-size: 0.9em;
      }

      .card-icon { left: 82%; }
    }
  }

  label {
    display: block;
    clear: both;
    float: none;
    margin-top: 0;
    padding-top: 0;
  }
	h1 {
	 &.modal-heading{
	    padding: 8px 0 10px;
	    font-size: 1.5em;
	    font-weight: bold;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: 1.25;
	    letter-spacing: 0.2px;
	    color: $darkerGray;
	    text-align: center;
    }
  }
  h2 {
    padding: 8px 0 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: $darkerGray;
    text-align: center;
  }

  a { font-size: 0.8em; }
}

#form-modal-screen, #loader-screen {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.80);
  z-index: 1001;
}

#petco-loader{
		margin: 0px;
		padding: 0px;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 1002;
	}
#petco-loader-image{
	position: absolute;
	top: 35%;
	left: 45%;
}
 @include breakpoint(small) {
 	#petco-loader-image{
		position: absolute;
		top: 35%;
		left: 25%;
	}

 }
 @include breakpoint(medium) {
 	#petco-loader-image{
		position: absolute;
		top: 30%;
		left: 35%;
	}

 }
 


#modal-addCard{
		width:620px;
		@include breakpoint(small) {
			padding:5px;
			width:90%;
			height:90%;
		}
		@include breakpoint(medium) {
			padding:5px;
			width:90%;
		}
		@include breakpoint(large x-large) {
			iframe{
				height:420px !important;
			}
		}
		
	}
@include breakpoint(medium small) {
	 /* To prevent form fields from zooming */
	input {
	  &[type="text"],
	  &[type="tel"],
	  &[type="email"],
	  &[type="password"] {
	  		font-size: initial;
	  }
	  /* To prevent form fields from zooming */
	  &:focus{
	  	font-size: initial;
	  }
	  
	}
	/* To prevent form fields from zooming */
	select,textarea,select:focus,textarea:focus{
		font-size: initial;
	}
}
@include breakpoint(medium) {
	#modal-addCard{
	
		iframe{
			height:420px !important;
		}
		
	}
}

