/* stylelint-disable */

table.full-width {
	th {
		text-align: left;
		font-weight: bold;
		font-size: 0.9375em;
		padding: 9px 11px;
  }
	tbody {
		tr {
			&:nth-child(2n+1) {
				background: $lightestGray;
			}
			td {
				padding: 15px 11px;
			}
		}
	}
}
.responsive-table.table-full{
	th{
		vertical-align:bottom;
	}
}
.responsive-table.table-full thead + tbody tr:nth-child(2n+1) {
    background-color: $white;
}
@include breakpoint(small medium){
	.account .panel.no-background {
		background:none;
	}
	.responsive-table {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 1em auto;
		width: 100%;
	}
	.responsive-table.table-full tr:nth-child(2n+1) {
	
		background-color:#fff;
	
	}
	.responsive-table td {
		border-top: 1px solid #ddd;
		padding: 0.8em;
		position: relative; 
		text-align: right;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		min-height: 45px;
	}
	
	.responsive-table td.no-content {
		height: 0;
		padding: 0;
		border-left: 0;
		border-right: 0;
		border-top: 0;
	}
	.responsive-table td.no-content::before {
		display: none;
	}
	
	.responsive-table th {
		text-align: center;
		padding: .5em;
		border-top: none;
		display: none; /*Hides regular headers*/
		font-weight: bold;
	}
	
	.responsive-table tr,.responsive-table td,.responsive-table tbody {
		display: block;
		width: 100%;
	}
	
	.responsive-table td:before {
		content: attr(title); /*Inserts the text for the label*/
		padding: .5em;
		position: absolute;
		top: 2px;
		left: 0;
	}
	
	.responsive-table-bordered {
		border-collapse: separate;
		border-collapse: collapsed;
	}
	
	
	
	.responsive-table td:last-child {
		margin-bottom: 18px;
		border-bottom: 1px solid #ddd;
	}
	
	.responsive-table-bordered-all thead:first-child tr:first-child th:first-child,.responsive-table-bordered-all tbody:first-child tr:first-child th:first-child,.responsive-table-bordered-all tbody:first-child tr:first-child td:first-child
		{
		border-top: 0;
	}
	.responsive-table tbody td:nth-child(even) {
		background-color: #f9f9f9;
	}

}

@include breakpoint(large x-large){
	.responsive-table th:first-child{
			width:11%;
	}
	.responsive-table th:nth-child(2){
			width:20%;
	}
	
}
