/* stylelint-disable */
// Repeat Delivery
#hasRD {
  & + p { // disclaimer p
    font-size: em(13);
    color: $gray;
    margin-bottom: 20px;
  }

  .checkbox {
    margin: 10px 0;
    overflow: hidden;

    label { font-weight: normal; }
  }

.row {
  .column-headings {
    font-size: em(13);
    font-weight: bold;
    color: $lightGray;

    @include breakpoint(medium small){
      display: none;
    }

    .col-2 { padding-left: 20px; }

    .col-10 { padding-right: 30px; }

    .col-10 .col-2 {
      margin: 0;
      text-align: center;
    }
  }
  .product-qty input{
  	max-width:50px;
  	margin-top:-10px;
  }
}
  .panel-danger {
    .panel-heading {
      background-color: rgba($declined, 0.2);
      border: 1px solid rgba($declined, 0.4);
      color: $declined;

      h3, span, p, label { color: $declined; }
    }
  }

  .panel-success {
    .panel-heading {
      background-color: rgba($approved, 0.2);
      border: 1px solid $approved;
      color: $approved;

      h3, span, p, label { color: $approved; }
    }
  }

  .panel-heading {
    a {
      float: none;
    }

    .panel-title {
      font-size: em(20);
      line-height: em(25, 15);

      @include breakpoint(medium small){
        float: none;
      }

      .label {
        font-size: em(12, 20);
        line-height: em(14, 12);
        display: block;
        float: none;
        margin: 0;
      }

      .rd-date {
        @include breakpoint(x-large large){
          min-width: 180px;
          margin-right: 10px;
          display: block;
        }

        &a {
          font-size: em(20);
        }
      }
    }

    .rd-edit {
      .panel-title {

        @include breakpoint(medium small){

        float: left;
        width: 48%;
        margin-bottom: 10px;

        &:first-child {
          margin-right: 4%;
        }
      }

      &:first-child {
        margin-right: 10px;
      }

        a.select-style {
          font-weight: normal;
          font-size: em(16, 20);
          color: $darkGray;
          border: 0;
          margin-top: 5px;

          span {
            padding: 0 0 0 16px;
            box-sizing: border-box;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 26px;
          }
        }
      }
    }

    .edit-btns {
      @include breakpoint(x-large large){
        float: right;
      }

      @include breakpoint(medium small){
        display: flex;
        flex-flow: column;
        width: 100%;
      }
    }

    .btn {
      padding: 5px 25px;

      @include breakpoint(medium small){
        width: 100%;
        margin: 5px 0;
        order: 1;
      }

      &-inverted {
        background-color: transparent;

        @include breakpoint(medium small){
          order: 2;
        }
      }
    }

    @include breakpoint(x-large large){
      .edit-link {
        float: right;
      }
    }

    .col-6 {
      @include breakpoint(x-large large){
        line-height: 45px;
      }
    }

    .select-style {
      max-width: 183px;
      float: right;
    }

    .form-group {
      width: 100%;
      float: right;
      text-align: right;

      @include breakpoint(medium small){
        float: none;
        text-align: left;

        label { float: left; }
        .select-style { float: left; }
      }

      label {
        display: inline-block;
        font-size: em(15);
        color: $bodyText;
        margin: 0 12px 0 0;
        line-height: 45px;
      }

      .select-style {
        font-size: em(16, 20);
        margin-top: 5px;
        border: 0;

        select {
          height: 37px;
          padding: 10px 26px 10px 13px;
        }
      }
    }
  }
  .panel-body {
    font-size: em(15);
    color: $darkGray;

    strong { color: $bodyText; }
  }

  .rdDetails {
    font-size: em(13);

    .col-6 {
      background-color: $lighterGray4;
      padding: 15px;

      @include breakpoint(x-large large){
        width: 48%;

        &.shipping {
          margin-right: 4%;
        }
      }
    }
  }

  .order-item {
    padding: 7px 0 15px;
    margin-bottom: 25px;

    .col-10 {
      margin: 16px 0;
    }

    .col-2 {
      line-height: 45px;
      margin: 0;

      input {
        max-width: 45px;
        background-color: $lightestGray;
      }
    }

    @include breakpoint(x-large large){
      .edit-rd {
        text-align: center;
      }
      .remove-rd{
      	text-align: center;
      }
      .row-table {
        display: table;
        vertical-align: middle;

        .col-4, .col-2 {
          display: table-cell;
          float: none;
          vertical-align: middle;
        }
      }
    }

    @include breakpoint(medium small){
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    .product-image img {
      display: block;
    }

    .product-name-rd a {
      font-size: em(15);
      color: $bodyText;
      display: inline-block;
    }

    .product-price {
      font-size: em(15);
      color: $darkGray;
    }

    .product-subtotal {
      font-size: em(20);
      color: $bodyText;
      font-weight: bold;
    }
  }

  .rd-options {
    @include breakpoint(medium small){
      a {
        display: block;
        margin: 10px 0;
      }
    }
  }

  .view-rd-details {
    display: block;
    padding: 10px 0;
    color: $bodyText;

    &:after {
      content: "";
      display: block;
      background-image: $spritesheet;
      background-position: -140px -125px;
      float: right;
      height: 12px;
      margin-top: 4px;
      width: 12px;
    }

    &.collapsed:after {
      background-position: -282px -125px;
    }


  }

  .rd-button {
    border-radius: 5px;
    display: inline-block;
    font-size: em(14);
    margin: 20px 15px 0 0;
    padding: 5px 16px;
    transition: 0.2s;
    background-color: $primary;
    color: $white;

    &:hover {
       background-color: $primaryDark;
      color: $white;
    }

    &.show { display: inline-block!important; }
  }

  .notice-box {
    @include breakpoint(x-large large){
      float: left;
    }

    strong { color: $notice; }
  }

}

.rd-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

#changeRdItemDiv {
  margin: auto;
  max-width: 500px;

  h3 {
    text-align: center;
    font-size: em(25);
  }

  .product-image {
    padding: 10px;
    border: $lightBorder;
    margin-bottom: 10px;

    @include breakpoint(small){
      height: 100px;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: auto;

    @include breakpoint(medium small){
      max-height: 100%;
    }
  }

  .product-name {
    color: $bodyText;
    font-size: em(14);
  }

  .pdp-product-attributes {
    position: relative;
  }

  .product-price {
    margin-bottom: 10px;
    padding-left: 2px;

    .product-price-rddetail {
      font-weight: bold;
      font-size: em(20);
      color: $primary;
    }

    .rd-logo { vertical-align: text-top; }
  }

  .item-attr {
    margin-bottom: 10px;
  }

  #pdp_atc {
    margin-bottom: 10px;
  }

  .form-group {
    margin: 0;

    label {
      display: inline-block;
      float: left;
    }
  }
}

/***********************************
* BEGIN New Account RD Landing Page 
************************************/

.rd-list-row{
	background-color:$lightestGray;
	border-radius: 3px;
	margin-bottom:10px;
	
	.rd-date,.rd-freq,.rd-paused{
		@include breakpoint(large x-large){
			padding: 15px;
		}
		padding:10px 0 10px 10px;
		p{
			font-weight:bold;
			
			span{
				&.rd-listing-title-text{
					color:$gray;
					font-size: .75em;
					font-weight:normal;
				}
			}
			
		}
	}

	.rd-date{
		@include breakpoint(large x-large){
			padding-bottom: 20px;
		}
		p{
			padding-left:40px;
			
			@include breakpoint(small medium){
				padding-left:0;
			}
		}
	}
	
	.rd-freq{
		@include breakpoint(large x-large){
			padding-bottom: 20px;
		}
		p{
			padding-left:35px;
			@include breakpoint(small medium){
				padding-left:0;
			}
		}
	}
	
	.rd-paused{
		@include breakpoint(large x-large){
			padding-bottom: 20px;
		}
		
		p{
			padding-left:40px;
			@include breakpoint(small medium){
				padding-left:0;
			}
		}
		
	}
	.petco-calendar-icon{
		background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: 25px;
    position: absolute;
    top: 46%;
    @include breakpoint(small medium){
    	top:27%;
    }
	}
	.petco-delivery-icon{
		background-image: url(../img/van.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    position: absolute;
    top: 50%;
    @include breakpoint(small medium){
    	top:29%;
    }
	}
	.petco-pause-icon{
		background-image: url(../img/pause.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: 25px;
    position: absolute;
    top: 44%;
    @include breakpoint(small medium){
    	top:25%;
    }
	}
	
	.rd-images{
		@include breakpoint(large x-large){
			padding: 15px 15px 0 24px;
		}
			padding-left:10px;
		img{
			border-radius: 3px;
			box-shadow: 2px 2px 5px $lighterGray;
			margin-right:6px;
		}
	}
	.rd-arrow-container{
	 @include breakpoint(small){
	 	margin:0 !important;
	 }
		min-height: auto;
		.rd-arrow{
			background-color:$petcoBlue;
			color:$white;
			border:none;
			display:inline-block;
			padding:69px 12px;
			vertical-align:middle;
			overflow:hidden;
			text-decoration:none;
			position:absolute;
			top:50%;
			right:0%;
			border-radius: 0px 3px 3px 0;
			transform:translate(0%,-50%);
			-ms-transform:translate(0%,-50%);
			@include breakpoint(large x-large){
				padding:39px 12px;
			}
			
			@include breakpoint(medium){
				padding:77px 12px;
			}
		}
		
	}
}

.rd-freq,.rd-paused{
	@include breakpoint(large x-large){
		border-right: 1px solid $lighterGray4;
	}
}

/***********************************
* END New Account RD Landing Page 
************************************/


/***********************************
* BEGIN New Account RD Detail Page 
************************************/
#repeat-delivery-detail{
	background-color:$lightestGray;
	padding-bottom:20px;
	h2{
		font-size: 15px;
		
		.small-text{
			font-size:15px;
		}
	}
	
	.mobile-rd-detail-info{
		@include breakpoint(small){
			display:block;
		}
		@include breakpoint(large x-large){
			display:none;
		}
	}
	
	.rd-details-title-text{
		@include breakpoint(small){
			font-size:.70em;
		}
	}
}
.item-detail-row{
	position:relative;
	border-radius:5px;
	background-color:$white;
	box-shadow: 2px 2px 5px $lighterGray;
	margin-bottom:20px;
	
	a{
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
	
		 > .row {
		 	div:nth-child(1){
			 	@include breakpoint(small){
			 		width:29%;
			 	}
			 	
			 	@include breakpoint(medium){
			 		width:17%;
			 	}
		 	}
		 	div:nth-child(2){
		 		@include breakpoint(small){
			 		width:63%;
			 	}
			 	@include breakpoint(medium){
			 		width:72%;
			 	}
		 	}
		 	div:nth-child(3){
			 	@include breakpoint(small){
			 		width:23%;
			 	}
		 		@include breakpoint(medium){
			 		width:23%;
			 	}
		 	}
		 	div:nth-child(4){
		 		@include breakpoint(small){
			 		width:11%;
			 	}
			 	@include breakpoint(medium){
			 		width:16%;
			 	}
		 	}
		 	div:nth-child(5){
		 		@include breakpoint(small){
			 		width:21%;
			 	}
			 	@include breakpoint(medium){
			 		width:23%;
			 	}
		 	}
		 }

	img{
		width:90px;
	}
}
#rd-add-on-message{
	    position: absolute;
    right: 5px;
    bottom: -12px;
}
button{
	&.dotted-button{
		padding:20px;
		background-color:transparent;
		width:100%;
		border: .13em dashed $petcoBlue;
		color:$petcoBlue;
	}
}

.rd-details-title-text{
	color:$gray;
	font-size: .75em;
	
	font-weight: bold;
}
.rd-details-value{
	font-weight: bold;
  font-size: 1em;
  color: $black;
  position:relative;
}
.rd-details-value-inactive{
	font-weight: bold;
  font-size: 1em;
  color: $petcoRed;
  position:relative;
}
.detail-delivery-icon{
	background-image: url(../img/van.png);
	width: 30px;
  height: 30px;
  background-size: 30px;
  position:absolute;
		bottom:0;
    background-repeat: no-repeat;
}
.detail-calendar-icon{
	background-image: url(../img/calendar.png);
	width: 25px;
  height: 25px;
  background-size: 25px;
  position:absolute;
	bottom:7px;
   background-repeat: no-repeat;
}

#rd-detail-message-container{
	margin-top:20px;
	position:relative;
	> .arrow{
		position: absolute;
	  display: block;
	  width: 0;
	  height: 0;
	  border-color: transparent;
	  border-style: solid;
	  border-width: 11px;
	  
	  top: -11px;
	  left: 50%;
	  margin-left: -11px;
	  border-top-width: 0;
	  border-bottom-color: $lighterGray3;
	  
	  &:after{
	  	position: absolute;
		  display: block;
		  width: 0;
		  height: 0;
		  border-color: transparent;
		  border-style: solid;
	  	content: "";
  		border-width: 10px;
  		
  		top: 1px;
		  margin-left: -10px;
		  content: " ";
		  border-top-width: 0;
		  border-bottom-color: $lighterGray3;
	  }
	}
	ul{
		background-color:$lighterGray3;
		border-radius:5px;
		font-size:0.8375em;
		li{
			list-style:none;
			border-bottom:1px solid $lighterGray;
			padding:10px;
			&:last-of-type{
				border:none;
			}
		}
	}
	
}

#rd-detail-info-container{
	margin-top:20px;
	margin-bottom:20px;
	ul{
		li{
			list-style:none;
			border-top:1px solid $lighterGray;
			padding:10px;
			font-weight:bold;
			color:$black;
			&:last-of-type{
				border-bottom:1px solid $lighterGray;
			}
		}
		
	}
}

#rd-add-more-items{
	margin-top:30px;
	
}

.rd-detail-pause-icon{
		background-image: url(../img/pause.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: 25px;
    position: absolute;
    top: 0%;
    left:20%;
    @include breakpoint(medium){
    	left:37%;
    }

	}
	
.rd-detail-right-arrow{
	color:$petcoBlue;
  position: absolute;
  right: 4%;
  bottom: 30%;
}
/***********************************
* END New Account RD Detail Page 
************************************/

/***********************************
* BEGIN New Account RD Edit Page 
************************************/

.rd-product-image{
	border: $lighterBorder;
  position: relative;
  padding-top: 20px;

  @include breakpoint(x-large large){
    padding: 0;
  }
  
  width: auto;
  float: none;
  margin: 0;


  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}

#rd-edit-container{
	h2{
	 	font-size: 1.3em;
	  line-height: 1.3em;
	  font-weight: bold;
	  color: $darkerGray;
	}
	.rd-edit-product-info{
		margin-left:20px;
		
		.rd-edit-price{
			font-size: 0.8125em;
    	color: $darkGray;
    	
    	.rd-edit-price-value{
    		color: $petcoBlue;
		    font-size: 1.53846em;
		    font-weight: bold;
		    line-height: 1.25em;
    	}
    	
    	.rd-edit-price-promo{
    		color: $bodyText;
		    font-size: 1.53846em;
		    font-weight: bold;
		    line-height: 1.25em;
		    display:block;
    	}
    	
    	
		}
		.rd-edit-dropdown,.rd-edit-quantity{
			margin-top:20px;
    		.form-group{
    			border: 1px solid #8E9DA2;
   	 			border-radius: 5px;
    			margin-bottom: 10px;
    			width: 99%;
	    			label{
	    				text-align: center;
					    font-size: 0.9375em;
					    color: #333333;
					    height: 43px;
					    line-height: 43px;
					    margin: 0;
					    width: 50%;
	    			}
	    			select{
	    				border: 0;
					    border-left: 1px solid #D4DADC;
					    background-color: transparent;
					    border-radius: 0 5px 5px 0;
					    padding: 11px 15px;
					    width: 50%;
	    			}
    		}
    	}
    	
    	.rd-edit-quantity{
    	margin-top:0px;
    		.qty-group {
			   	display: inline-block;
			   	label{
			   		float:left;
			   		width: 25%;
			   	}
			   	select{
					    width: 25%;
	    			}
			   	input{
			   		border: 0;
			      border-left: 1px solid $lighterGray;
			      background-color: transparent;
			      border-radius: 0 5px 5px 0;
			      padding: 11px 15px;
			      width: 25%;
			      -webkit-appearance: none;
			      &.qty-minus{
			      	border-right: 0;
			      }
			   	}
				}
    	}
	}
}

/***********************************
* END New Account RD Edit Page 
************************************/


/***********************************
* BEGIN New Account RD Shipping Page 
************************************/
.rd-shipping-address-container{
	background-color: $lightestGray;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 23px 30px;
  @include breakpoint(small){
  	padding: 23px 18px;
  }
  margin-bottom: 20px;
  @include breakpoint(small){
	  .row{
	  	> .col-3-sm{
	  		width:28%;
	  	}
	  }
  
	}
}
/***********************************
* END New Account RD Shipping Page 
************************************/

/***********************************
* BEGIN New Account RD Date Page 
************************************/
.change-date-button{
  padding-right: 1.5em;
 }


/***********************************
* END New Account RD Date Page 
************************************/


/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: left;

  select {
	  display: none; /*hide original SELECT element:*/
	}
	
	.select-selected {
	  background-color: transparent;
	  color: #000;
	  padding: 8px 16px;
	  border: 1px solid #8E9DA2;
	  cursor: pointer;
	  user-select: none;
	  border-radius: 5px;
	  height: 40px;
	  box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    /*style the arrow inside the select element:*/
		&:after {
		  position: absolute;
		  content: "";
		  top: 17px;
		  right: 10px;
		  width: 0;
		  height: 0;
		  border: 6px solid transparent;
		  border-color: #000 transparent transparent transparent;
		}
	
		/*point the arrow upwards when the select box is open (active):*/
		&.select-arrow-active:after {
		  border-color: transparent transparent #000 transparent;
		  top: 11px;
		}
		
		.same-as-selected {
	  	background-color: rgba(255, 255, 255, 0.1);
		}	  
	}
	
	/*style items (options):*/
	.select-items {
	  position: absolute;
	  background-color: #fff;
	  border: 1px solid #8E9DA2;
	  border-top-width: 0;
	  top: 100%;
	  left: 0;
	  right: 0;
	  z-index: 99;
	 
	 	/*style the items (options), including the selected item:*/
		div {
			color: #000;
		  padding: 4px 16px;
		 	cursor: pointer;
		  user-select: none;
		  
		  &:first-child{
				padding-top: 8px; 
			} 
			
			&:hover {
  			background-color: rgba(255, 255, 255, 0.1);
			}	  
		} 
	}
}

.text-box{
	border-radius: 5px;
}
