/* stylelint-disable */
.category-page,
.search-page {
  @include breakpoint(x-large large){
    padding-top: 15px;
    position: relative;
  }
}

.product-listing {
  h1 {
    font-size: em(25);
    font-weight: normal;

    span:last-child {
      font-weight: bold;
    }
  }
}

.product-display-grid {
  overflow: hidden;
}

.nav.nav-tabs {
  list-style: none;
  margin: 10px 0;

  li { display: none; }
  .active { display: inline-block; }
}

.col-9.product-listing {
  @include breakpoint(x-large large){
    margin-right: 0;
    width: 73%;
  }
}


.col-5.sort-by {
  float: right;

  @include breakpoint(medium small){
    width: 70%;
  }
  @include breakpoint(small){
    width: 65%;
  }

  label {
    clear: none;
    font-size: em(15);
    line-height: 45px;
    color: $bodyText;

    @include breakpoint(medium small){
      display: none;
    }
  }

  .select-style {
    width: 70%;
    float: right;
    border: 0;

    @include breakpoint(medium small){
      width: 100%;

      &:before {
        content: "Sort By";
        font-size: em(15);
        font-weight: bold;
        line-height: 42px;
        padding: 0 2%;
      }

      select {
        width: 69%;
        float: right;
      }
    }
  }
}

.results-page-total {
  float: left;
  height: 45px;
  line-height: 45px;
  margin: 0.5rem 0;
  font-size: em(15);
  color: $darkGray;

  .results-total {
    color: $bodyText;
    font-weight: bold;
  }
}

.no-results {
  text-align: center;
  font-size: em(25);
  line-height: em(30, 25);
  margin: 10px 20px 20px;

  span { font-weight: normal; }
}

#noResultsSearchBox {
  margin: 20px auto;
  width: 90%;

  @include breakpoint(x-large large){
    width: 63%;
  }

  .primary-search {
    background-color: $lighterGray3;
    border: $mainBorder;
    height: auto;

    input[type="text"]{
      padding: 20px;
      font-size: em(15);

      @include breakpoint(x-large large){
        font-size: em(20);
      }
    }

    button {
      background-position: -130px -31px;

      @include breakpoint(x-large large){
        background-position: -135px -28px;
      }
    }
  }
}
#bopusInfoTabInPlp {
  float: left;
  margin: 15px;
  padding: 0 0 0 0;
  list-style: none;
  display: inline-block;
  border: 1px solid #00aae7;
    @include breakpoint(medium small){
    		  width: 94%;
    		  border: 0px;
 		 }
  li {
    &::before {
      content: "";
      width: 0px;
      height: 0px;
      border: 0.8em solid transparent;
      position: absolute;
     }
    &.active::before {
      left: 45%;
      bottom: -20px;
      border-top: 10px solid #00aae7;
      @include breakpoint(medium small){
    		  width: 1%;
 		 }
    }
    list-style-type: none;
    float: left;
    margin-bottom: 0px;
    font-weight: bold;
    background-image: -moz-linear-gradient(top, #00aae7, #00aae7);
    position: relative;
    padding: 10px;
    border-radius: 3px;
    min-height: 10px;
    cursor: pointer;
    width: 180px;
      @include breakpoint(medium small){
    		  width: 42%;
    		   min-height: 46px;
    		   border: 1px solid #00aae7;
 		 }
    text-align: center;
    a {
      color: #00aae7;
      text-decoration: none;
      padding: 7px 5px;
    }
    &.active {
      a {
        color: #ffffff;
       }
      background-color: #00aae7;
      color: white;
      border: 0px;
      min-height: 23px;
       @include breakpoint(medium small){
    		  min-height: 48px;
    		    width: 43%;
 		 }
       
    }
  }
}
