/* stylelint-disable */
.widget_search_results .no-results {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  span {
    display: block;
  }
}

.search-page {
  .breadcrumb {
    max-width: 100%;
    li.active {
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
       display: inline;
    }
  }
}