/* stylelint-disable */
.store-events {
  .store-header {
    border-bottom: $lightBorder;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;

    h1 {
      padding-right: 20px;
      line-height: em(40, 32);
    }
  }

  address {
      font-size: em(13);
      line-height: em(16, 13);
      margin-top: 10px;

      img {
        display: inline-block;
        vertical-align: middle;
        max-width: 75px;
      }
  }

  .back-to-stores {
    font-size: em(13);
    line-height: em(16, 13);
    padding-top: 15px;

    @include breakpoint(x-large large){
      text-align: right;
    }
  }

  .month-list {
    text-align: center;

    li {
      display: inline-block;

      a {
        padding: 10px;
        display: inline-block;

        &:hover {
          color: darken($primary, 10);
        }
      }

      &.active {
        color: darken($primary, 10);

        a {text-decoration: underline;}
      }

    }
  }

  table {
    margin: 30px 0;
    width: 100%;

    th {
      font-weight: bold;
      padding: 10px;
    }

    tbody {
      tr {
        &:nth-child(odd){
          background-color: $lightestGray;
        }

        @include breakpoint(medium small){
          display: block;
          padding: 20px;
        }

      }


      td {
        padding: 10px;
        font-size: em(13);
        line-height: em(18, 13);
        color: $darkGray;

        @include breakpoint(medium small){
          display: block;
          padding: 0;
          width: 100%;
          width: 100%;
          box-sizing: border-box;
        }
      }

      h5 {
        color: $bodyText;
        font-weight: bold;
        font-size: em(14, 13);
      }
    }

    strong { color: $bodyText; }

    .short {
      width: 20%;
      text-align: center;
      vertical-align: middle;

      @include breakpoint(medium small){
        display: block;
        width: 100%;
        text-align: left;
      }
    }
  }
}
