/* stylelint-disable */

$cartCountPadding: 4px;

.cart {
  .cart-count {

    color: $white;
    background-color: $secondary;
    border-radius: 0.8em;
    padding: 0 $cartCountPadding;
    font-size: 0.6875em;
    line-height: 1.5em;
    text-align: center;
    min-width: calc(1.5em - #{$cartCountPadding * 2});

    position: absolute;
    left: 59%;
    top: -5px;

    @media screen and (-ms-high-contrast: active) {
      border: 1px solid;

      &:empty {
        border: none;
      }
    }
  }
}

#mobile-cart {
  position: relative;

  .persistent-cart-count {
    top: 20%;
    left: calc(50% + 1px);
  }
}

.persistent-cart-count {
  color: $white;
  background-color: $secondary;
  border-radius: 0.8em;
  padding: 0 $cartCountPadding;
  font-size: 0.6875em;
  font-weight: bold;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  left: calc(100% - 19px);
  top: 5px;
  min-width: calc(1.5em - #{$cartCountPadding * 2});

  @media screen and (-ms-high-contrast: active) {
    border: 1px solid;

    &:empty {
      border: none;
    }
  }
}

.mini-cart.tab {
  width: 288px;
  padding: 20px;
  z-index: 2002;
  @include breakpoint(large x-large){
    padding: 15px;
  }
}

#MiniShopCartContents {
  padding: 0;
}

.mini-cart-empty {
  div {
    padding: 20px 40px;
  }
}

.mini-cart-header {
  p { padding: 16px 12px; }
  a.btn {
    display: inline-block;
    width: 49%;
    margin: 15px 0;
  }
}

.mini-cart-body {
  clear: both;
  border-top: 1px solid $lighterGray;
}

.mini-cart-item {
  border-bottom: 1px solid $lighterGray;
  text-align: left;
  overflow: hidden;

  .product-image, .product-info {
      margin: 15px 5px;
      float: left;
  }

  .product-image {
    width: 21%;
    max-width: 75px;
  }

  .product-info {
    width: 70%;
  }

  .product-name {
    height: 100%;
    max-height: none;
    padding-bottom: 5px;
    a {
      color: $petcoBlue;
      font-weight: bold;
      font-size: 1em;
    }
  }
}

.mini-cart-footer {
  border-top: $lighterGray;
  padding-top: 15px;
}
