.navbar-two-petco {
  ul {
    list-style: none;
    padding: 0;
  }

  @include media-breakpoint-up(lg) {
    .offcanvas-collapse {
      flex: 0 0 100%;
    }
  }

  .top-level {
    & + .collapse {
      .subnav-desktop {
        display: none;
        width: 25%;
      }

      .subnav-lavel-1 {
        @include media-breakpoint-up(lg) {
          width: 75%;
          flex-wrap: wrap;

          & > li {
            flex: 1 1 27%;
          }
        }
      }
    }

    &:hover {
      & + .collapse {
        @include media-breakpoint-up(lg) {
          display: flex;
          flex-direction: row-reverse;

          & > .subnav-desktop {
            display: block;
          }

          .subnav {
            display: block;
          }

          .subnav-lavel-1 {
            display: flex;
          }
        }
      }
    }
  }

  .content-wrapper {
    .navbar-nav {
      position: relative;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }

      & > .nav-item {
        & > .collapse {
          @include media-breakpoint-up(lg) {
            position: absolute;
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}
