/* stylelint-disable */

// High-contrast usablity styles at bottom of file

.navbar-utility {
  position: absolute;
  left: 0;
  right: 1px;
  top: 100%;

  @include breakpoint('max-width: 1200px) and (min-width: 769px'){
    margin: 10px 0 0 0;
  }

  @include breakpoint(large x-large){
    display: block;
    float: right;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    width: auto;
  }

  nav {

    &:hover > div a,
    &:hover > div span {
      opacity: 0.6;
    }

    & > ul > li {
      border-left: $lightBorder;
      display: inline-block;
      padding: 0 10px;
      position: relative;
      text-align: center;
      z-index: 110;
      
      @include breakpoint(medium small){
        position: absolute;
        left: -1px;
      }
      .account {
        padding: 0;
      }
      div {
        &.live-help, &.store-locator, &.account, &.cart {
          display: none;
          @include breakpoint(large x-large){ display: inline-block; }
        }
      }
      &:last-of-type {
        padding-right: 0;
      }
      .store-locator.open,
      .cart.open {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100vw;

        @include breakpoint(medium small){
          right: -1px;
          padding: 0;
        }

        & > a:not(.btn) { display: none; }

        .tab {
          visibility: visible;
          left: 0;
          right: 0;
          margin: 0;
          width: 100%;
        }
      }

      &:first-child { border-left: none; }

      &:hover a,
      &:hover span {
        opacity: 1;
      }

      & > a {
        display: block;
        transition: 0.2s;
      }

      a:hover, a:focus {
        & ~ .tab { visibility: visible; }
      }
    }

    a span {
      display: block;
      color: $darkerGray;

      &#firstName { display: inline; }

      @include breakpoint('max-width: 1200px'){
        @include hideText();
      }
    }
  }
}

.tab {
  background-color: $white;
  box-shadow: inset 0 7px 17px -8px rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  left: 50%;
  margin: 10px 0 0 -125px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 240px;
  transition: 0.1s;

  @include breakpoint(large x-large){
    visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 17px 0 rgba(0,0,0,0.18);
  }

  a.btn {
    display: block;
  }

  span {
    position: relative;
    left: auto;
  }

  &:focus, &:hover { visibility: visible; }

  & > div {
    padding: 10px;
  }

  &.logged-out {
    div {
      padding: 20px 40px;

      @include breakpoint(large x-large){
        padding: 20px;
      }

      a {
        display: block;
        margin: 0 0 10px 0;
      }

      p { color: $darkGray; }
    }
  }
}

// mobile nav adjustments
#account-container, #live-help-container {
  .tab {
    position: relative;
    left: auto;
    top: auto;
    margin: auto;
    width: 100%;
    box-shadow: none;
  }
}

@include breakpoint(x-large large){
  .cart .tab {
      left: auto;
      right: -100%;
  }
}

@include breakpoint('max-width: 1200px') {
  .tab, .cart .tab {
    left: auto;
    right: 0;
  }
}

// High-contrast Mode Adjustments
.navbar-utility {
  @media screen and (-ms-high-contrast: active) {
    @include breakpoint(x-large large){
    margin: 0px 0 0;

      [class*="icon-"]{
            height: 50px;
            width: 50px;
          }
      }

      nav a span {
        position: absolute;
        width: 50px;
        top: 50%;
        left: auto;
        -ms-transform: translateY(50%);
        transform: translateY(-50%);
      }

      .tab {
        border: 1px solid;
      }
  }
}
