// To include:
// -----------------------
// footer
// -- columns
// -- email signup
// -- copyright/legal banner
// -- mobile accordion
/* stylelint-disable */

.footer_wrapper_position {
  width: 100%;

  @include breakpoint(x-large large){
    border-top: $lighterBorder;
    padding-top: 30px;
  }

  .container {
    width: 100%;
    max-width: 1095px;
    margin: auto;
  }
}

footer {
  max-width: 1095px;
  margin: auto;

  @include breakpoint(large){
    padding: 0 20px;
    box-sizing: border-box;
  }

  ul {
    display: none;

    li { list-style: none; }
  }

  h2 {
    font-size: 1.25em;
    color: $darkestGray;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 15px 20px;
    position: relative;
    border-top: $lightBorder;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      height: 100%;
      width: 30px;
      background-image: $spritesheet;
      background-position: -277px -104px;
      position: absolute;
      right: 0;
      top: 0;
    }

    &.open:after { background-position: -135px -104px; }

    &.open + ul {
      display: block;
      border-top: $lightBorder;
      background-color: $lightestGray;
      padding: 20px;
      box-sizing: border-box;

      li {
        padding-bottom: 5px;
      }

      li a { font-size: 0.8125em; }
    }
  }

  @include breakpoint(large x-large){
    & > div {
      padding: 0 0 40px 0;
      width: 25%;
      float: left;
    }

    ul { display: block; }

    h2 {
      margin-bottom: 5px;
      cursor: initial;
      padding: 15px 0 0;
      border-top: 0;

      &:after { display: none; }
    }

    a {
      font-size: 0.8125em;
      line-height: 1.25em;
    }
  }

}

.footer-signup {

  h2:after { display: none; }

  & > div {
    padding: 0 20px 20px;

    @include breakpoint(x-large large){
      padding: 0;
    }
  }

  input {
    background-color: $lighterGray3;
    color: $gray;
    font-size: 0.8125em;
    font-weight: bold;
    margin: 8px 0 0;
    padding-right: 48px;

    &:-webkit-input-placeholder {
      color: $gray;
      font-size: 0.8125em;
      font-weight: bold;
    }
    &::-moz-placeholder {
      color: $gray;
      font-size: 0.8125em;
      font-weight: bold;
    }
    &:-ms-input-placeholder {
      color: $gray;
      font-size: 0.8125em;
      font-weight: bold;
    }
    &:-moz-placeholder {
      color: $gray;
      font-size: 0.8125em;
      font-weight: bold;
    }

    &:focus {
      &:-webkit-input-placeholder { color: transparent; }
      &::-moz-placeholder { color: transparent; }
      &:-ms-input-placeholder { color: transparent; }
      &:-moz-placeholder { color: transparent; }
      &::placeholder { color: transparent; }
    }
  }

  .input {
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      text-indent: -9000px;
      width: 50px;
      padding: 0;
      height: 100%;
      background-color: transparent;
      background-image: $spritesheet;
      background-position: -475px -32px;
    }
  }
  p {
    margin: 15px 0 23px;
  }
}

.footer-social {
  display: block;

  li {
    display: inline-block;
    height: 33px;
    width: 33px;
    margin-right: 8px;
    background-image: $spritesheet;

    a {
      display: block;
      height: 100%;
      width: 100%;
      text-indent: -9000px;
    }
  }
}

.copyright {
  width: 100%;
  border-top: $lightBorder;
  padding: 20px 0;
  box-sizing: border-box;
  float: none;
  clear: both;
  padding: 20px;

  a {
    font-size: 0.8125em;
    line-height: 1.25em;

    &.mobile-only {
      display: inline-block;
      margin: 0 10px;
    }
  }

  p {
    font-size: 0.8125em;
    line-height: 1.75em;
    color: $gray;
    width: 25%;
    float: left;
  }

  ul {
    display: block;
    width: 100%;

    &.open {
      margin-top: 10px;
    }

    @include breakpoint(x-large large){
      margin: 0;
      width: 55%;
      float: left;
    }

    li {
      display: inline-block;

      @include breakpoint(medium small){
        display: inline;
        line-height: 2.5em;
      }

      &:before {
        content: "• ";
        color: $gray;
      }

      &:first-child:before { content: ''; }

      a { color: $darkerGray; }
    }
  }


}
