/* stylelint-disable */
//
// Carousel
// --------------------------------------------------

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

$carousel-control-color:                      $white;
$carousel-control-width:                      15%;
$carousel-control-opacity:                    0.5;
$carousel-control-font-size:                  20px;

$carousel-indicator-active-bg:                $white;
$carousel-indicator-border-color:             $white;

$carousel-caption-color:                      $white;

// Wrapper for the slide container and indicators
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;

  > .item {
    display: none;
    position: relative;
    transition: .6s ease-in-out left;

    // Account for odd spacing on images
    > img,
    > a > img {
      line-height: 1;
    }

    @include breakpoint(small medium) {
      &:not(:first-child) {
        padding-left: 12px;
      }

      &:last-child {
        padding-right: 12px;
      }
    }
  }

  > .active,
  > .next,
  > .prev { display: block; }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

.carousel-fade {
    .carousel-inner {
        .item {
            transition: opacity 0.3s;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $carousel-control-width;
  opacity: $carousel-control-opacity;
  font-size: $carousel-control-font-size;
  color: $carousel-control-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  text-indent: -9000px;

  &:after {
    content: "";
    height: 25px;
    width: 25px;
    border-top: 3px solid $white;
    border-right: 3px solid $white;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &.left {
    left: 0;
    &:after {
      transform: translate(-50%) rotate(-135deg);
      right: 60%;
    }
  }
  &.right {
    right: 0;
    &:after {
      transform: translate(-50%) rotate(45deg);
      left: 60%;
    }
  }

  // Hover/focus state
  &:hover,
  &:focus {
    color: $carousel-control-color;
    text-decoration: none;
    opacity: 0.9;
  }

  // Toggles
  .icon-prev,
  .icon-next {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
  }
  .icon-prev {
    left: 50%;
  }
  .icon-next {
    right: 50%;
  }
  .icon-prev,
  .icon-next {
    width:  20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
  }

  .icon-prev {
    &:before {
      content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }
  .icon-next {
    &:before {
      content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}

.tiles .carousel-control {
  @include breakpoint(x-large large){ display: none; }

  opacity: 1;

  &.left:after, &.right:after {
    opacity: 1;
    left: auto;
    border: none;
    background-image: $spritesheet;
    background-position: -60px -119px;
  }

  &.left {
    left: 0;
    &:after {
      left: auto;
      right: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &.right {
    right: 0;
    &:after {
      transform: translateY(-50%);
      left: 50%;
    }
  }
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  z-index: 15;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  text-align: right;

  li {
    display: inline-block;
    width:  8px;
    height: 8px;
    text-indent: -999px;
    border: 2px solid $carousel-indicator-border-color;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 1px;
    opacity: 0.5;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
  }
  .active {
    width:  8px;
    height: 8px;
    background-color: $carousel-indicator-active-bg;
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}


// Scale up controls for tablets and up
@include breakpoint(medium small) {

  // Scale up the controls a smidge
  .carousel-control {
    .glyphicons-chevron-left,
    .glyphicons-chevron-right,
    .icon-prev,
    .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      font-size: 30px;
    }
  }

  // Show and left align the captions
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 20px;
  }
}

.product-rec-horizontal {
  width: 100%;
  background-color: $lightestGray;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;

  .product-rec-horizontal-container {
    position: relative;
    max-width: 1095px;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    margin: 0 auto;

    .panel-heading {
      h3 {
        font-size: em(25);
        font-weight: bold;
        color: $darkerGray;
        line-height: 1.2;

        @include breakpoint("max-width: 1120px) and (min-width: 769px"){
          padding-left: 20px;
        }
      }
    }
  }

  /*------------------------------------*/
  /* Mobile View Styles                 */
  /*------------------------------------*/
  @include breakpoint(medium small) {
    padding-top: 20px;
    padding-bottom: 11px;
    background-color: $lightestGray;

    .product-rec-horizontal-container {
      .panel-heading {
        h3 {
          text-align: center;
        }
      }
    }
  }
  /*------------------------------------*/
} /*end .product-rec-horizontal */

.carousel-prodrec {

  @include breakpoint(medium small){
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0;
  }

  h2 { padding-left: 20px; }

  h4 {
    text-align: center;
    margin-top: 20px;

    @include breakpoint(x-large large){
      margin: 0;
      text-align: left;
      position: absolute;
      top: -31px;
    }

    a {
      font-size: 15px;
    }
  }

  .carousel-control {
    height: 32px;
    width: 32px;
    background-color: $primary;
    border-radius: 100%;
    position: absolute;
    top: -31px;
    left: auto;
    margin: 0;
    opacity: 1;
    transition: 0.3s;
    border: 1px solid $primary;

    @include breakpoint(medium small){
      display: none;
    }

    &:hover { background-color: darken($primary, 10); }

    &.disabled {
      background-color: $lighterGray4;
      border-color: $lightGray;
      cursor: default;

      &:after { border-color: $lightGray; }
    }

    &:after {
      opacity: 1;
      height: 7px;
      width: 7px;
    }

    &.left {
      right: 57px;

      &:after {
        transform: translateX(-50%) translateY(-50%) rotate(-135deg);
        border-width: 2px;
        right: 50%;
      }
    }

    &.right {
      right: 20px;

      &:after {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        border-width: 2px;
        left: 50%;
      }
    }
  }

  .carousel-inner {
    padding-bottom: 10px;

    @include breakpoint(medium small){
      display: flex;
      overflow: scroll;
      padding-left: 15px;

      .item {
        display: block;
        float: left;

        &:last-child:not(:first-child){
          padding-left: 0;
        }

        .row {
          white-space: nowrap;
          display: flex;
        }

        .prod-tile, .category-tile {
          display: inline-block;
          float: none;
          white-space: normal;
        }
      }
    }

    @include breakpoint(x-large large){
      .prod-tile {
        width: 19%;
        margin: 23px 1.25% 0 0;

        .product-image {
          max-width: 138px;
          max-height: 138px;
          height: 100%;
          width: 100%;
        }

        img {
          max-width: 100%;
          width: 100%;
        }

        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
      }


    }
  } /* end .carousel-inner */

  &.full-width {
    @include breakpoint("max-width: 1120px) and (min-width: 769px"){
      padding: 0 20px;
      box-sizing: border-box;

      .carousel-control {
        &.left { right: 57px; }
        &.right { right: 20px; }
      }
    }
  }
} /* end .carousel-prodrec */

#prodrec, .prodrec {
  margin: 0;
  width: 100%;
  max-width: 1095px;
  clear: both;

  @include breakpoint("max-width: 1120px) and (min-width: 769px"){
    padding: 0 20px;
    box-sizing: border-box;
  }

  h4 {
    text-align: center;
    margin-top: 20px;

    @include breakpoint(x-large large){
      margin: 0;
      text-align: left;
      position: absolute;
      top: -31px;
    }

    a {
      font-size: 15px;
    }
  }

  @include breakpoint("max-width: 1095px"){
    overflow-x: scroll;
  }

  .row {
    margin-bottom: 20px;

    @include breakpoint(medium small){
      display: inline-flex;
      width: auto;

      .prod-tile {
        float: none;
        flex-shrink: 0;
        flex-grow: 0;

        &:first-child {
          margin-left: 20px;
        }

        &:last-child {
          margin-right: 20px;
        }
      }
    }
  }

// Certona-style slider for content
  position: relative;

  h4 {
    position: relative;
    top: auto;
  }

  @include breakpoint(x-large large){
    margin: 50px 0;
  }
}

#accessories-carousel {
  @include breakpoint(medium small){
    margin: 0;
    width: 100%;
    max-width: 1095px;

    .row {
      width: 1095px;
      margin-bottom: 20px;

      @include breakpoint(medium small){
        box-sizing: border-box;
        width: auto;
      }
    }
  }
}

.block-carousel {
  width: 100%;
  max-width: 1095px;
  display: table;

  .container.no-margin {
     & > .row [class*="col-"] {
      margin: 0;
    }

    .col-4-sm { width: 33.33%; }
  }

  .carousel-control {
    display: table-cell;
    position: relative;
    top: auto;
    bottom: auto;
    width: 4%;
    background-color: $primary;
    opacity: 1;
    vertical-align: middle;
    border: 1px solid $primary;

    &:after {
      height: 10px;
      width: 10px;

      &.left { left: 50%; }
      &.right { right: 50%; }
    }

    &.left {
      border-radius: 5px 0 0 5px;
    }

    &.right {
      border-radius: 0 5px 5px 0;
    }
  }

  .carousel-inner {
    width: auto;
    float: none;
    display: table-cell;
  }
}

@include breakpoint(small) {
  .product-display-grid {
    .carousel {
      display: block;
      overflow: hidden;
      position: relative;

      .carousel-inner {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 40px;
        margin-bottom: -40px;
        display: flex;
        flex-flow: column wrap;
        max-height: 250px;

        .item {
          display: block;

          .img-responsive {
            max-width: inherit;
            width: auto;
          }
        }
      }

      .carousel-control {
        display: none;
      }
    }
  }
}
