/* stylelint-disable */
.hero-banner {
  width: 100%;
  overflow: hidden;

  .container {
    max-width: 1095px;
    margin: auto;
    overflow: hidden;
    display: table;

    .row {
      display: block;

      @include breakpoint(large x-large){
        height: 332px;
      }

    }

  }

  h3, h4 {
    color: $white;
    font-weight: bold;
  }

  h3 {
    font-size: em(56);
    line-height: 1em;

    @include breakpoint(x-large){
      font-size: 5em;
    }

    @include breakpoint(large){
      font-size: 4em;
    }
  }

  h4 {
    font-size: 2.5em;
    line-height: 1.25em;

    @include breakpoint(x-large large){
      font-size: 3.5em;
    }
  }

  p { color: $white; }

  .btn { margin: 20px 0; }

  &.bg-yellow .btn {
    background-color: darken($yellow, 10%);
    color: $white;

    &:hover { background-color: darken($yellow, 20%); }
  }

  &.bg-lightteal .btn {
    background-color: darken($lightTeal, 20%);
    color: $white;

    &:hover { background-color: darken($lightTeal, 30%); }
  }

  &.bg-lightblue .btn {
    background-color: darken($lightBlue, 20%);
    color: $white;

    &:hover { background-color: darken($lightBlue, 30%); }
  }

  &.bottom-aligned {
    position: relative;
    padding-top: 0;
    height: 270px;

    .container {
      .row { position: static; }

      .image-container {
        padding: 0;

        @include breakpoint(x-large large) { width: 45%; }

        @include breakpoint(medium small) {
          margin-left: -20%;
          position: absolute;
          bottom: 0;

          img { height: 215px; }
        }
      }

      .text-container {
        position: absolute;
        width: auto;

        @include breakpoint(x-large large) {
          top: 32%;
          left: 45%;
        }

        @include breakpoint(medium small) {
          top: 30%;
          left: 39%;
        }
      }

      img { width: auto; }
    }
  }
}


.hero-banner-cols {
  width: 100%;

  &.hero-arrow-down {
    [class*="col-"] {
      position: relative;
      z-index: 10;
    }
    .mobile-top-left {
      z-index: 1;
      position: initial;
    }

    @include breakpoint(medium small){
      margin: 0 2%;
      width: 96%;

      .row {
        padding-top: 50px;
      }

      .container .mobile-top-left {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        img {
          transform: translateX(-50%);
          position: relative;
          bottom: auto;
        }
      }
    }

    &:after {
      content: "";
      display: block;
      height: 50px;
      width: 50px;
      background-color: inherit;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%) rotate(45deg);
    }
  }

  .container {
    max-width: 1095px;
    margin: auto;
    display: table;

    &.no-margin .row [class*="col-"]{
      margin: 0;
    }

    @include breakpoint(large x-large){
      .row {
        white-space: nowrap;

          &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
          }

        div, img {
          white-space: normal;
          display: inline-block;
          vertical-align: middle;
          float: none;

          &.bottom {
            position: absolute;
            bottom: 0;
          }
        }

      }
    }

    @include breakpoint(medium small){
       [class*="col-"]{
          position: relative;
          z-index: 10;
       }

      .mobile-left {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
          width: auto;
          max-width: none;
          position: absolute;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
    }

  }

  h1, h2, h3, h4, h5 {
    color: $white;
    font-weight: bold;
  }

  h1 {
    font-size: em(45);
    line-height: em(85, 45);

    @include breakpoint(x-large large){
      font-size: em(60);
      line-height: em(85, 60);
    }
  }


  h2 {
    font-size: em(35);

    @include breakpoint(x-large large){
      font-size: em(45);
      line-height: em(61, 45);
    }
  }

  h3 {
    font-size: 3.5em;
    line-height: 1.25em;

    @include breakpoint(x-large){
      font-size: 5em;
    }

    @include breakpoint(large){
      font-size: 4em;
    }
  }

  h5 {
    font-size: em(20);
    line-height: em(25, 20);
    max-width: 80%;
    margin: auto;
  }

  p {
    color: $white;
    width: 85%;
    margin: auto;
  }

  a.btn { margin: 20px 0; }

  &.bg-yellow a.btn {
    background-color: darken($yellow, 10%);
    color: $white;
  }

  &.bg-lightteal a.btn {
    background-color: darken($lightTeal, 20%);
    color: $white;
  }
}

.block-links {
  display: table;
  margin: 2%;
  width: 100%;

  @include breakpoint(x-large large){
    height: 300px;
    margin: 10px 20px 10px 0;
    width: 93%;
  }

  li {
    list-style: none;
    display: table-row;

    .icon-blue-arrow {
      background-position: 0 -125px;
      height: 16px;
      transform: rotate(180deg);
      width: 10px;
    }

    a {
      background-color: rgba(255, 255, 255, 0.5);
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border-bottom: 1px solid $lightBlue;
      transition: 0.2s;
      padding: 15px 5px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }

      span {
        padding-top: 5px;

        @include breakpoint(x-large large){
          font-size: em(13, 18);
        }
      }
    }

    &:last-child a {
      border-bottom: 0;
    }
  }

  &.bigger-links li a {
    @include breakpoint(x-large large){
      padding: 0;
      font-size: em(18, 15);
      line-height: em(20, 18);
    }
  }
}
