/* stylelint-disable */
.pagination {
  clear: both;
  margin: 20px 0;

  li {
    display: inline-block;
    line-height: 32px;
  }

  a {
    font-size: em(18);
    padding: 0 13px;

  }

  .active a { color: $bodyText; }

  .prev, .next {
    display: block;
    height: 32px;
    width: 32px;
    background-color: $primary;
    border: 1px solid $primary;
    box-sizing: border-box;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    position: relative;
    transition: 0.3s;

    &:after {
      opacity: 1;
      height: 7px;
      width: 7px;
      content: "";
      border-top: 3px solid $white;
      border-right: 3px solid $white;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &.prev {
      &:after {
        transform: translateX(-50%) translateY(-50%) rotate(-135deg);
        border-width: 2px;
        right: 50%;
      }
    }

    &.next {
      &:after {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        border-width: 2px;
        left: 50%;
      }
    }

  }
  .not_allowed .left_arrow, .not_allowed .right_arrow,
  .disabled .prev, .disabled .next {
    background-color: $lightestGray;
    border-color: $lighterGray;

    &:after {
      border-color: $lighterGray;
    }
  }

  .ellipsis {
    color: $lightGray;

    &:after {
      content: "\2026\0020";
    }
    span {
      position: absolute;
      left: -9000px;
    }
  }
}
