/* stylelint-disable */
// Example: homepage mock "Have a New Pet? (orange)" and "Find a Store (blue)"

.banner-promo {
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  p {
    line-height: 1;
    padding: 12px;
  }

  &.expandable {
    cursor: pointer;

    div { display: none; }

    & > p:before {
      content: "+";
      margin-right: 10px;
    }

    &.open {
      &  > p:before { content: "-"; }
      div { display: block; }
    }

  }

  .collapse-toggle {
    cursor: pointer;

    p {
      transition: 0.3s;
      transition-delay: 0.2s;
    }

    p:after {
      content: "+";
      font-weight: bold;
      margin-left: 10px;
    }

    &.open p {
      padding: 0;
      opacity: 0;
      line-height: 0;
      transition-delay: 0s;
    }
  }

  .collapsible.open {
    position: relative;

    .carousel-inner .item {
      min-height: 180px;
    }
  }

  .carousel-inner .item {
    .container {
      max-height: 266px;
      overflow: hidden;
    }
    @include breakpoint(small medium) {
      &:not(:first-child) {
        padding-left: 0px;
      }

      &:last-child {
        padding-right: 0px;
      }
    }
  }

  .close {
    background-position: -478px -112px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-indent: -9000px;
    z-index: 1;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
}
