/* stylelint-disable */
.clearFloat{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}


.autoSuggestSelected {
	background-color: #d9e9f7;
}

.additional_content .left_espot> img{
	width: 100%;
}


