/* stylelint-disable */
.button.primary,
.button.secondary {
	display: inline-block;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FBBB0B), to(#EE9505));
	background-image: linear-gradient(#FBBB0B, #EE9505);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FBBB0B', endColorStr='#EE9505')";
	border-radius: 4px;
	width: 200px;
	max-width: 100%;
	line-height: 29px;
	min-height: 29px;
	text-align:center;
	border: 1px solid #BFBFBF;
	color: #333333;
	font-size:14px;
}

.button.secondary {
	background-image: linear-gradient(#f7f9f9, #e5e8e9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#e5e8e9')";
}

.button.primary:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FED60C), to(#F8AF06));
	background-image: linear-gradient(#FED60C, #F8AF06);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FED60C', endColorStr='#F8AF06')";
}

.button.secondary:hover {
	background-image: linear-gradient(#f7f9f9, #ced2d3);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9f9), to(#ced2d3));
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#ced2d3')";
}


