/* stylelint-disable */
#homePageEspot1,
#homePageEspot2,
#homePageEspot_Left,
#homePageEspot_Middle,
#homePageEspot_Right {
	width: 100%;
}

#homePageEspot1_Slot,
#homePageEspot2_Slot,
#homePageEspot_Left_Slot,
#homePageEspot_Middle_Slot,
#homePageEspot_Right_Slot {
	position:relative;
	z-index: 2;
}


.homeHero > .textContainer > .button {
	border: 1px solid transparent;
}

.homeHero > .textContainer > .button:focus {
	border: 1px dotted #000000;
}


@media screen and (max-width: 856px) {
	.homePageContainerRow4 > div {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	#homePageEspot_Left_Slot,
	#homePageEspot_Right_Slot {
		padding-left: 10px;
	}
}
