/* stylelint-disable */
#quick_cart_container, #MiniShopCartProductAdded {
	left: auto !important;
	right: 15px !important;
	top: 71px !important;
}
#quick_cart_container > .dijitDialogPaneContent, #MiniShopCartProductAdded > .dijitDialogPaneContent {
	width: auto !important;
	height: auto !important;
}
